@import url("./reset.css");

.container {
  width: 100%;
  max-width: 1300px;
  height: 100%;
  margin: 0 auto 100px;
  overflow-x: hidden;
}
.container h1 {
  margin: 100px 0 25px;
  padding: 0 10px 25px;
  border-bottom: 2px solid #000;
  font: 2rem "arial";
}
.container form {
  /* text-align: right; */
  padding: 0 15px;
}
.container select {
  width: 190px;
  margin-bottom: 20px;
  padding: 10px 5px;
  border-radius: 30px;
  border: 1px solid #000;
  outline: none;
  font: 0.875rem "arial";
  cursor: pointer;
}

.container .searchs {
  display: flex;
  justify-content: space-between;
}
.container .sort-buttons {
  margin-bottom: 20px;
  padding: 0 15px;
}
.container .sort-buttons a {
  display: inline-block;
  margin-right: 30px;
  font: 0.8125rem "arial";
  position: relative;
  cursor: pointer;
}

.container .sort-buttons a::after {
  position: absolute;
  top: 7px;
  right: -20px;
  content: "";
  width: 3px;
  height: 3px;
  border-radius: 100%;
  background: #ccc;
}
.container .sort-buttons a:last-child::after {
  display: none;
}
.container .sort-buttons a:hover {
  text-decoration: underline;
}
.active {
  text-decoration: underline;
}
.container .searchText {
  width: 190px;
  outline: none;
  padding: 3px 5px;
}
.container .searchSubmit {
  padding: 5px;
  border: 1px solid transparent;
  cursor: pointer;
  transition: all 0.3s;
}
.container .searchSubmit:hover {
  border: 1px solid #000;
  background: none;
  border-radius: 3px;
}

.container ul {
  padding: 0 15px;
  display: flex;
  flex-wrap: wrap;
  gap: 23px;
  overflow-y: hidden;
}
.container ul li {
  flex: 1 0 18%;
  max-width: 18%;
  height: 400px;
  border: 1px solid #ccc;
}
.container ul li img {
  width: 100%;
  height: 70%;
  border-bottom: 1px solid #ccc;
}
.container ul li div {
  width: 100%;
  height: 30%;
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  gap: 15px;
}
@media screen and (max-width: 970px) {
  .container ul li {
    flex: 1 0 22%;
    max-width: 22%;
  }
}

@media screen and (max-width: 625px) {
  .container h1 {
    text-align: center;
  }
  .container form {
    text-align: center;
  }
  .container .searchs {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
  }
  .container .searchText {
    width: 180px;
  }
  .container ul li {
    flex: 1 0 46%;
    max-width: 46%;
  }
  .container ul li div {
    overflow: hidden;
  }
  .container ul li div h3 {
    display: inline-block;
    width: 130px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
