@import url("./reset.css");

article {
  width: 1200px;
  height: 100vh;
  margin: 50px auto;
  text-align: center;
}
.container {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f2f1ed;
  padding: 10px;
}
.map {
  width: 60%;
  min-width: 300px;
  height: 100%;
  background: url("./img/map.png") center/contain no-repeat;
  position: relative;
}

.ping {
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 80px;
  background: #fff;
  border-radius: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
}
.ping h4 {
  font-size: 12px;
}
.ping img {
  width: 70%;
}
.ping p {
  font-size: 12px;
  font-weight: bold;
}

#Seoul {
  top: calc(250px - 90px);
  left: 290px;
}
#Incheon {
  top: calc(270px - 90px);
  left: 220px;
}
#Gyeonggi-do {
  top: calc(335px - 90px);
  left: 280px;
}
#Gangwon-do {
  top: calc(250px - 90px);
  left: 400px;
}
#Cheongju {
  top: calc(350px - 90px);
  left: 350px;
}
#Pohang {
  top: calc(380px - 90px);
  left: 450px;
}
#Mokpo {
  top: calc(530px - 90px);
  left: 230px;
}
#Daejeon {
  top: calc(420px - 90px);
  left: 300px;
}
#Daegu {
  top: calc(450px - 90px);
  left: 380px;
}
#Busan {
  top: calc(530px - 90px);
  left: 420px;
}
#Jeju-do {
  top: calc(630px - 90px);
  left: 230px;
}
.active {
  outline: 2px solid #ed6f4c;
}

.info {
  width: 40%;
  height: 500px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.info .weather_temp {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.info .weather_temp .temp {
  display: flex;
  align-items: center;
}
.info .weather_wind {
  display: flex;
  justify-content: space-around;
}

@media screen and (max-width: 1200px) {
  .container {
    display: flex;
    flex-direction: column;
  }
  .ping {
    height: 50px;
  }
  .ping > p {
    display: none;
  }

  #Seoul {
    top: calc(250px - 200px);
    left: 290px;
  }
  #Incheon {
    top: calc(270px - 200px);
    left: 220px;
  }
  #Gyeonggi-do {
    top: calc(335px - 230px);
    left: 280px;
  }
  #Gangwon-do {
    top: calc(250px - 210px);
    left: 380px;
  }
  #Cheongju {
    top: calc(350px - 230px);
    left: 350px;
  }
  #Pohang {
    top: calc(380px - 220px);
    left: 420px;
  }
  #Mokpo {
    top: calc(530px - 290px);
    left: 250px;
  }
  #Daejeon {
    top: calc(420px - 250px);
    left: 300px;
  }
  #Daegu {
    top: calc(450px - 260px);
    left: 360px;
  }
  #Busan {
    top: calc(530px - 300px);
    left: 410px;
  }
  #Jeju-do {
    top: calc(630px - 280px);
    left: calc(270px - 20px);
  }
}

@media screen and (max-width: 780px) {
  article {
    width: 100%;
  }
  .map {
    width: 463px;
  }
  #Seoul {
    top: calc(250px - 180px);
    left: calc(290px - 110px);
  }
  #Incheon {
    top: calc(270px - 175px);
    left: calc(220px - 110px);
  }
  #Gyeonggi-do {
    top: calc(335px - 210px);
    left: calc(280px - 110px);
  }
  #Gangwon-do {
    top: calc(250px - 180px);
    left: calc(380px - 130px);
  }
  #Cheongju {
    top: calc(350px - 220px);
    left: calc(350px - 110px);
  }
  #Pohang {
    top: calc(380px - 200px);
    left: calc(420px - 130px);
  }
  #Mokpo {
    top: calc(530px - 270px);
    left: calc(250px - 100px);
  }
  #Daejeon {
    top: calc(420px - 240px);
    left: calc(300px - 100px);
  }
  #Daegu {
    top: calc(450px - 230px);
    left: calc(360px - 120px);
  }
  #Busan {
    top: calc(530px - 280px);
    left: calc(410px - 120px);
  }
  #Jeju-do {
    top: calc(630px - 300px);
    left: calc(270px - 120px);
  }

  .info {
    gap: 15px;
  }

  .info .weather_temp {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 450px) {
  .map {
    width: 360px;
  }

  .ping {
    width: 40px;
  }

  #Seoul {
    top: calc(250px - 180px - 40px);
    left: calc(290px - 110px - 50px);
  }
  #Incheon {
    top: calc(270px - 175px - 40px);
    left: calc(220px - 110px - 50px);
  }
  #Gyeonggi-do {
    top: calc(335px - 210px - 40px);
    left: calc(280px - 110px - 40px);
  }
  #Gangwon-do {
    top: calc(250px - 180px - 40px);
    left: calc(380px - 130px - 50px);
  }
  #Cheongju {
    top: calc(350px - 220px - 40px);
    left: calc(350px - 110px - 60px);
  }
  #Pohang {
    top: calc(380px - 200px - 40px);
    left: calc(420px - 130px - 50px);
  }
  #Mokpo {
    top: calc(530px - 270px - 90px);
    left: calc(250px - 100px - 50px);
  }
  #Daejeon {
    top: calc(420px - 240px - 50px);
    left: calc(300px - 100px - 50px);
  }
  #Daegu {
    top: calc(450px - 230px - 70px);
    left: calc(360px - 120px - 50px);
  }
  #Busan {
    top: calc(530px - 280px - 60px);
    left: calc(410px - 120px - 70px);
  }
  #Jeju-do {
    top: calc(630px - 300px - 90px);
    left: calc(270px - 120px - 40px);
  }
}
